<li><button mat-flat-button color="primary" (click)="folder.expanded = !folder.expanded"><mat-icon>folder</mat-icon> {{ folder.name }}</button></li>
<ul *ngIf="folder.expanded">
    <app-import-preview-folder *ngFor="let sub of folder.folders" [folder]="sub"/>
    <ul>
        @for (file of folder.files; track file) {
        <li>
            <mat-checkbox color="accent"
                          [(ngModel)]="file.selected" 
                          (ngModelChange)="updateFileSelected(file)">
                {{file.name}}
            </mat-checkbox>
        </li>
        }
    </ul>
</ul>